{{ define "index" }}
    {{template "header" .}}
    <div class="main">
        <!--max 190-->
{{/*        {{range $i := .Tests}}*/}}
{{/*            <div class="test" id="test{{ $i.Id }}">{{ $i.Name }}<div class="btns"><div class="test__btn" id="test_btn">Управление тестом<div class="control_window"></div></div> <a href="/test/{{ $i.Id }}" class="test__btn">Пройти</a></div></div>*/}}
{{/*        {{ end }}*/}}
        <div class="test" id="test">Name
            <div class="btns">
                <div class="test__btn" id="test_btn">Управление тестом
                    <div class="control_window">
                        <div></div>
                    </div>
                </div>
                <a href="/test/" class="test__btn">Пройти</a>
            </div>
        </div>
    </div>
    {{template "footer"}}
{{ end }}